<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="table">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find table_description)/urdf/common/inertials.xacro" />
  <xacro:include filename="$(find table_description)/urdf/common/materials.xacro" />
  <xacro:include filename="$(find table_description)/urdf/table/table_macro.xacro" />

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- Load robot's macro with parameters -->
  <!-- set prefix if multiple robots are used -->
  <xacro:table prefix="$(arg prefix)" parent="world" length="2" width="0.5" height="0.75"
    thickness="0.03" leg_radius="0.05" top_material="brown" leg_material="light_grey">
    <origin xyz="1 2 0" rpy="0 0 0" />  <!-- position table in the world -->
  </xacro:table>

</robot>